@font-face {
    font-family: 'effraregular';
    src: url('fonts/dalton_maag_-_effra.eot');
    src: url('fonts/dalton_maag_-_effra.eot?#iefix') format('embedded-opentype'),
         url('fonts/dalton_maag_-_effra.woff') format('woff'),
         url('fonts/dalton_maag_-_effra.ttf') format('truetype'),
         url('fonts/dalton_maag_-_effra.svg#effraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'efframedium';
    src: url('fonts/dalton_maag_-_effra_medium.eot');
    src: url('fonts/dalton_maag_-_effra_medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/dalton_maag_-_effra_medium.woff') format('woff'),
         url('fonts/dalton_maag_-_effra_medium.ttf') format('truetype'),
         url('fonts/dalton_maag_-_effra_medium.svg#efframedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'effrabold';
    src: url('fonts/dalton_maag_-_effra_bold.eot');
    src: url('fonts/dalton_maag_-_effra_bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/dalton_maag_-_effra_bold.woff') format('woff'),
         url('fonts/dalton_maag_-_effra_bold.ttf') format('truetype'),
         url('fonts/dalton_maag_-_effra_bold.svg#effrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'effraheavy';
    src: url('fonts/dalton_maag_-_effra_heavy.eot');
    src: url('fonts/dalton_maag_-_effra_heavy.eot?#iefix') format('embedded-opentype'),
         url('fonts/dalton_maag_-_effra_heavy.woff') format('woff'),
         url('fonts/dalton_maag_-_effra_heavy.ttf') format('truetype'),
         url('fonts/dalton_maag_-_effra_heavy.svg#effraheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'effraitalic';
    src: url('fonts/dalton_maag_-_effra_italic.eot');
    src: url('fonts/dalton_maag_-_effra_italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/dalton_maag_-_effra_italic.woff') format('woff'),
         url('fonts/dalton_maag_-_effra_italic.ttf') format('truetype'),
         url('fonts/dalton_maag_-_effra_italic.svg#effraitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'effralight';
    src: url('fonts/dalton_maag_-_effra_light.eot');
    src: url('fonts/dalton_maag_-_effra_light.eot?#iefix') format('embedded-opentype'),
         url('fonts/dalton_maag_-_effra_light.woff') format('woff'),
         url('fonts/dalton_maag_-_effra_light.ttf') format('truetype'),
         url('fonts/dalton_maag_-_effra_light.svg#effralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rouble';
    src: url('fonts/rouble.eot');
    src: url('fonts/rouble.eot?#iefix') format('embedded-opentype'),
         url('fonts/rouble.woff') format('woff'),
         url('fonts/rouble.ttf') format('truetype'),
         url('fonts/rouble.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}
a img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.inp-wr.rub-ic, .select .dropdown, .inp-wr.place-ic, .inp-wr.date-ic, .select .select-txt, .btn.reset, .drodown .btn.reset, input[type="submit"].btn.reset, .drodown input[type="submit"].btn.reset, button.btn.reset, .drodown button.btn.reset, .btn.plus, input[type="submit"].btn.plus, button.btn.plus, .btn.like, input[type="submit"].btn.like, button.btn.like, .likes {
  position: relative;
}

.inp-wr.rub-ic:after, .select .dropdown:before, .inp-wr.place-ic:after, .inp-wr.date-ic:after, .select .select-txt:after, .btn.reset:before, .drodown .btn.reset:before, input[type="submit"].btn.reset:before, .drodown input[type="submit"].btn.reset:before, .btn.plus:before, input[type="submit"].btn.plus:before, .btn.like:before, input[type="submit"].btn.like:before, .likes:before, .a-spr:before, .b-spr:before {
  content: " ";
  display: block;
  position: absolute;
}
.inp-wr.place-ic:after, .inp-wr.date-ic:after, .select .select-txt:after, .ev-list-item:after, .ph-upl-wr .ph-upl-inp .btn:after, .sex-range-wr:after, .irs-from:after, .irs-to:after, .irs-single:after, .btn.reset:before, .drodown .btn.reset:before, input[type="submit"].btn.reset:before, .drodown input[type="submit"].btn.reset:before, .btn.plus:before, input[type="submit"].btn.plus:before, .btn.like:before, input[type="submit"].btn.like:before, .likes:before, .menu-col .user-menu .item:before, .create-btn > span:before, .top-panel .select:before, .top-panel .select .select-txt:before, .top-panel .ic:before, .ev-types-wr .item-ttl:before, .ev-item .dist:before, .ev-item .share:before, .edit-lnk:before, .other-ph-list .upl-inp .upl-btn:before, .sex-range-wr:before, .date-one-wr:before, .event-title-wrap .top-nav .back-lnk:before, .chat-wr .send-wr .add-file:before, .chat-head .settings-btn:before, .alert-mess .alert-ic:before, .user-info-list .item:before, .dropdown-body .ev-select li:before, .checkbox input + span, .radiobutton input + span, .checkbox .ic, .radiobutton .ic, .menu-col .user-info .exit a, .menu-col .user-menu .act-area > span span, .ntf.alrt, .search .sbmt, .socials a, .ev-item .type, .other-ph-list .item .delete, .event-title-wrap .event-title .ev-type-icon, .users-list .item .img .soc-ic, .users-list .item .delete, .dropdown-body .dropdown .close, .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span, .owl-nav .owl-prev, .owl-nav .owl-next, .fancybox-nav span, .fancybox-close, .a-spr:before, .b-spr:before, .spr {
    background-image: url(img/sprite.png);
    background-repeat: no-repeat;
    background-size: 320px;
}
.inp-wr.place-ic:after, .inp-wr.date-ic:after,.socials a, .select .select-txt:after, .btn.reset:before, .drodown .btn.reset:before, input[type="submit"].btn.reset:before, .drodown input[type="submit"].btn.reset:before, .btn.plus:before, input[type="submit"].btn.plus:before, .btn.like:before, input[type="submit"].btn.like:before, .likes:before, .checkbox input + span, .radiobutton input + span, .checkbox .ic, .radiobutton .ic, .a-spr:before, .b-spr:before, .spr {
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-size: 320px;
}
.inp-wr.rub-ic:after, .menu-col .user-menu .act-area > span:after, .menu-col .bottom-wr:after, .footer .nav li:after, .ev-types-wr .item-ttl:after, .ev-item .details:after, .ev-item.map-baloon:after, .tags-wr:after, .event-title-wrap .bg:after, .chat-wr .messages .chat-ev-mess span:after, .chat-head .bg:after, .select .dropdown:before, .menu-col .user-menu .act-area > span:before, .events-list.ev-list-slider:before, .event-title-wrap .bg:before, .chat-wr .messages .chat-ev-mess span:before, .chat-head .bg:before, .dropdown-body .dropdown:before, .inp-wr.place-ic:after, .inp-wr.date-ic:after, .select .select-txt:after, .ev-list-item:after, .ph-upl-wr .ph-upl-inp .btn:after, .sex-range-wr:after, .irs-from:after, .irs-to:after, .irs-single:after, .btn.reset:before, .drodown .btn.reset:before, input[type="submit"].btn.reset:before, .drodown input[type="submit"].btn.reset:before, .btn.plus:before, input[type="submit"].btn.plus:before, .btn.like:before, input[type="submit"].btn.like:before, .likes:before, .menu-col .user-menu .item:before, .create-btn > span:before, .top-panel .select:before, .top-panel .select .select-txt:before, .top-panel .ic:before, .ev-types-wr .item-ttl:before, .ev-item .dist:before, .ev-item .share:before, .edit-lnk:before, .other-ph-list .upl-inp .upl-btn:before, .sex-range-wr:before, .date-one-wr:before, .event-title-wrap .top-nav .back-lnk:before, .chat-wr .send-wr .add-file:before, .chat-head .settings-btn:before, .alert-mess .alert-ic:before, .user-info-list .item:before, .dropdown-body .ev-select li:before, .a-spr:before, .b-spr:before {
    content: " ";
    display: block;
    position: absolute;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .inp-wr.place-ic:after, .inp-wr.date-ic:after,.socials a, .select .select-txt:after, .btn.reset:before, .drodown .btn.reset:before, input[type="submit"].btn.reset:before, .drodown input[type="submit"].btn.reset:before, .btn.plus:before, input[type="submit"].btn.plus:before, .btn.like:before, input[type="submit"].btn.like:before, .likes:before, .checkbox input + span, .radiobutton input + span, .checkbox .ic, .radiobutton .ic, .a-spr:before, .b-spr:before, .spr {
    background-image: url("img/sprite@2x.png");
  }
}
a img, .btn, input[type="submit"].btn, button.btn, .brdr, .select .select-txt:after, .menu-col .user-info .exit a, .menu-col .user-menu .item, .menu-col .more-btn, .create-btn, .create-btn > span, .top-panel .ic, .tags-wr .item, .other-ph-list .item img, .date-one-wr, .event-title-wrap .top-nav .back-lnk, .event-title-wrap .socials a.it, .chat-head .settings-btn, .users-list .item .delete, .dropdown-body .dropdown .close, .dropdown-body .ev-select li, .dropdown-body .ev-share .socials a, .slider, .owl-item {
    transition: all .15s ease;
}
a img, .btn, input[type="submit"].btn, button.btn, .brdr, .select .select-txt:after {
  transition: all .15s ease;
}
a{
  display: block;
}
a:hover{
  text-decoration: none;
}
.select .dropdown, .checkbox input, .radiobutton input {
  opacity: 0;
  visibility: hidden;
}
.btn.gray:hover, .btn.edit-lnk.delete:hover, input.btn[type="submit"].edit-lnk.delete:hover, input[type="submit"].btn.gray:hover, input[type="submit"].btn.edit-lnk.delete:hover, button.btn.gray:hover, button.btn.edit-lnk.delete:hover {
    color: rgba(73, 75, 84, 0.5);
}

.select.open .dropdown {
  opacity: 1;
  visibility: visible;
  transition: all .2s ease;
}

body, body.is-mobile {
  background-size: cover;
  background-repeat: no-repeat;
}

body, html {
  font-family: "effraregular";
  font-size: 14px;
  color: #1f1d1f;
}

body, .header {
  min-width: 320px;
}

body {
  position: relative;
  background-attachment: fixed;
  min-height: 500px;
  background-color: #f5f5f5;
}
body.is-mobile {
  background-image: url("img/mob-bg.jpg");
  color: #fff;
  overflow: hidden;
  min-width: 0;
}
body.is-mobile > * {
  display: none;
}
body.is-mobile .is-mobile-wr {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}
body.is-mobile .is-mobile-wr .inner {
  display: table;
  width: 100%;
  height: 100%;
}
body.is-mobile .is-mobile-wr .inner > div {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
}
body.is-mobile .mob-wr {
  max-width: 320px;
  padding: 0 10px;
  text-align: center;
  margin: 0 auto;
}
body.is-mobile .mob-wr .logo-mob {
  margin: 0 auto 20px;
}
body.is-mobile .mob-wr .ttl {
  font-size: 20px;
  margin-bottom: 20px;
}
body.is-mobile .mob-wr p {
  margin-bottom: 20px;
  font-size: 14px;
}
body.is-mobile .mob-wr .download {
  font-size: 0;
}
hr {
  width: 100%;
  border: none;
  background-color: #e5e5e5;
  height: 1px;
  display: inline-block;
  margin: 34px 0 45px;
}
body.is-mobile .mob-wr .download a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="date"],
textarea,
.select-txt {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  height: 40px;
  margin-bottom: 0;
  padding-left: 16px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  font-size: 14px;
  color: #44404c;
}
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
input[type="search"]:disabled,
input[type="url"]:disabled,
input[type="tel"]:disabled,
input[type="date"]:disabled,
textarea:disabled,
.select-txt:disabled {
  background-color: #f5f5f5;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="url"]:focus, input[type="tel"]:focus, textarea:focus, .select.open .select-txt {
  border-color: #c5c5c5;
}
input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="url"], input[type="tel"], input[type="date"], textarea, .select-txt {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    height: 40px;
    margin-bottom: 0;
    padding-left: 16px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    font-size: 14px;
    color: #44404c;
}

textarea {
  min-height: 120px;
  padding-top: 10px;
  resize: none;
  line-height: 1.3em;
}
textarea[data-autoresize] {
  min-height: auto;
  height: 40px;
  padding-bottom: 10px;
}
textarea[data-autoresize]:focus {
  height: 58px;
}

input.error, input.error:focus, .error + label + .select_txt {
  border-color: #f82812;
}

b, strong {
  font-weight: normal;
}

p {
  margin-bottom: 33px;
  line-height: 24px;
}

sup {
  font-size: 50%;
  line-height: 0;
  position: relative;
  display: inline-block;
  margin-top: 1.3em;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #494b54;
}
a:hover img {
  opacity: 0.8;
}

img {
  border: medium none;
  display: block;
  max-width: 100%;
}

table {
  width: 100%;
  margin-bottom: 20px;
}
table td, table th {
  border: 1px solid #c3c3c3;
  padding: 10px;
}
table th {
  background-color: #f1f1f1;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

h1, h2, h3, h4, h5, .ttl, .main-ttl {
  display: block;
  font-weight: normal;
  margin-bottom: 20px;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, .ttl:first-child, .main-ttl:first-child {
  margin-top: 0;
}

.main-ttl {
  font-size: 48px;
  line-height: 50px;
  margin-bottom: 53px;
}

.sub-ttl {
  font-size: 22px;
  margin-bottom: 35px;
}
.ttl-wr .sub-ttl {
  margin-bottom: 3px;
}

h1, .h1 {
  font-size: 26px;
}

h2, .h2 {
  font-size: 24px;
}

h3, .h3 {
  font-size: 22px;
}

h4, .h4 {
  font-size: 20px;
}

h5, .h5 {
  font-size: 18px;
}

.btn, input[type="submit"].btn, button.btn {
  background-color: #2287fb;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  padding: 0 40px;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
}
.btn:hover, input[type="submit"].btn:hover, button.btn:hover {
  color: #fff;
  background-color: #3b95fb;
}
.btn.min, input[type="submit"].btn.min, button.btn.min {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.btn.border, input[type="submit"].btn.border, button.btn.border {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  color: #494b54;
  line-height: 44px;
}
.btn.border.min, input[type="submit"].btn.border.min, button.btn.border.min {
  line-height: 38px;
}
.btn.border:hover, input[type="submit"].btn.border:hover, button.btn.border:hover {
  border-color: #d1d1d1;
}
.btn.border.b-red, input[type="submit"].btn.border.b-red, button.btn.border.b-red {
  color: #f82812;
  border-color: #f82812;
}
.btn.border.b-red:hover, input[type="submit"].btn.border.b-red:hover, button.btn.border.b-red:hover {
  border-color: #fb8275;
}
.btn.trnsp, input[type="submit"].btn.trnsp, button.btn.trnsp {
  background-color: transparent;
  color: #494b54;
}
.btn.reset, .drodown .btn.reset, input[type="submit"].btn.reset, .drodown input[type="submit"].btn.reset, button.btn.reset, .drodown button.btn.reset {
  padding-left: 40px !important;
}
.btn.reset:before, .drodown .btn.reset:before, input[type="submit"].btn.reset:before, .drodown input[type="submit"].btn.reset:before, button.btn.reset:before, .drodown button.btn.reset:before {
  background-position: -303px -164px;
  width: 14px;
  height: 14px;
  top: 15px;
  left: 18px;
  transition: all .2s ease;
}
.btn.reset:hover:before, .drodown .btn.reset:hover:before, input[type="submit"].btn.reset:hover:before, .drodown input[type="submit"].btn.reset:hover:before, button.btn.reset:hover:before, .drodown button.btn.reset:hover:before {
  transform: rotate(180deg);
}
.btn.plus, input[type="submit"].btn.plus, button.btn.plus {
  padding-left: 42px;
  padding-right: 26px;
  margin-right: 10px;
}
.btn.plus:before, input[type="submit"].btn.plus:before, button.btn.plus:before {
  background-position: -127px -107px;
  width: 12px;
  height: 12px;
  left: 23px;
  top: 50%;
  margin-top: -6px;
}
.btn.gray, .btn.edit-lnk.delete, input.btn[type="submit"].edit-lnk.delete, button.btn.edit-lnk.delete, input[type="submit"].btn.gray, input[type="submit"].btn.edit-lnk.delete, button.btn.gray, button.btn.edit-lnk.delete {
  color: rgba(73, 75, 84, 0.3);
}
.btn.gray:hover, .btn.edit-lnk.delete:hover, input.btn[type="submit"].edit-lnk.delete:hover, input[type="submit"].btn.gray:hover, input[type="submit"].btn.edit-lnk.delete:hover, button.btn.gray:hover, button.btn.edit-lnk.delete:hover {
  color: rgba(73, 75, 84, 0.5);
}
.btn.green, input[type="submit"].btn.green, button.btn.green {
  background-color: #73ce41;
}
.btn.green:hover, input[type="submit"].btn.green:hover, button.btn.green:hover {
  background-color: #82d355;
}
.btn.like, input[type="submit"].btn.like, button.btn.like {
  padding-left: 47px;
}
.btn.like:before, input[type="submit"].btn.like:before, button.btn.like:before {
  background-position: -245px -303px;
  width: 13px;
  height: 14px;
  top: 50%;
  margin-top: -7px;
  left: 24px;
}
.btn.no-pd, input[type="submit"].btn.no-pd, button.btn.no-pd {
  padding: 0;
}
.btn.edit-lnk, input[type="submit"].btn.edit-lnk, button.btn.edit-lnk {
  padding-left: 20px;
}
.btn.edit-lnk:before, input[type="submit"].btn.edit-lnk:before, button.btn.edit-lnk:before {
  margin-right: 10px;
}
.btn.edit-lnk.delete, input[type="submit"].btn.edit-lnk.delete, button.btn.edit-lnk.delete {
  opacity: .8;
}
.btn.edit-lnk.delete:before, input[type="submit"].btn.edit-lnk.delete:before, button.btn.edit-lnk.delete:before {
  background-position: -297px -270px;
  width: 19px;
  height: 19px;
  top: -2px;
}
.btn.edit-lnk.delete:hover, input[type="submit"].btn.edit-lnk.delete:hover, button.btn.edit-lnk.delete:hover {
  opacity: 1;
}

.cf:after {
  clear: both;
  content: ' ';
  display: block;
}

.err-mess {
  color: #f82812;
  font-size: 12px;
  position: relative;
  white-space: nowrap;
  line-height: 1;
  display: block;
  margin-top: -7px;
  margin-bottom: 13px;
}

.inp-wr {
  position: relative;
  margin-bottom: 18px;
}
.inp-wr.place-ic:after {
  background-position: -243px -149px;
  width: 15px;
  height: 16px;
  right: 17px;
  top: 38px;
}
.inp-wr.rub-ic:after {
  content: 'i';
  right: 17px;
  color: #c9c9c9;
  font-size: 13px;
  top: 16px;
}
.inp-wr.date-ic:after {
  background-position: -262px -149px;
  width: 14px;
  height: 14px;
  right: 17px;
  top: 40px;
}

.inp-list .inp-list-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 0;
}

.pt-item {
  padding-top: 10px;
}

.brdr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 2px;
}
.brdr:hover, a:hover .brdr {
  border-color: rgba(0, 0, 0, 0.5);
}

.shdw {
  box-shadow: 0 15px 30px rgba(8, 23, 40, 0.3);
}

.accent {
  font-size: 18px;
  font-weight: 600;
}

.img-right,
.img-left,
.img-center,
img.alignleft,
img.alignright {
  margin-bottom: 20px;
}

.img-left, img.alignleft {
  float: left;
  margin-right: 20px;
}

.img-right, img.alignright {
  float: right;
  margin-left: 20px;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.ta-l {
  text-align: left;
}

.rub, .inp-wr.rub-ic:after {
  font-family: 'rouble';
  font-size: .9em;
}

label.label {
  color: #494b54;
  display: block;
  margin-bottom: 10px;
}

.likes {
  padding-left: 18px;
  font-size: 14px;
}
.likes:before {
  background-position: -245px -324px;
  width: 13px;
  height: 14px;
  left: 0;
  top: 0;
}

hr {
  border: none;
  background-color: #e5e5e5;
  height: 1px;
  display: block;
  margin: 34px 0 45px;
}

.select {
  cursor: pointer;
  position: relative;
  min-width: 127px;
}
.date-wr .select {
  min-width: auto;
}
.select select {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.select .select-txt {
  display: inline-block;
  width: 100%;
  line-height: 38px;
  padding-right: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.select .select-txt:after {
  background-position: -283px -164px;
  width: 13px;
  height: 8px;
  right: 16px;
  top: 16px;
}
.select .select-txt .placeholder {
  color: #aeaeae;
}
.select .dropdown {
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 5px;
  border-radius: 6px;
  padding: 0 15px;
  border: 1px solid #e5e5e5;
  transform: translate3d(0, 5px, 0);
  box-shadow: 0 10px 20px rgba(56, 51, 51, 0.1);
  z-index: 20;
  overflow: auto;
}
.select .dropdown ul {
  padding: 10px 0;
}
.select .dropdown ul li {
  padding: 5px 0;
}
.select .dropdown ul li:last-child {
  border: none;
}
.select .dropdown, .checkbox input, .radiobutton input, .ev-item .share, .events-list.ev-list-slider .slider, .date-one-wr, .dropdown-body, .dropdown-body .dropdown, .slider, .owl-item {
    opacity: 0;
    visibility: hidden;
}
.select.open .dropdown, .ev-item:hover .share, .events-list.ev-list-slider .slider.owl-loaded, .date-one-wr.act, .dropdown-body.act, .dropdown-body .dropdown.act, .slider.owl-loaded, .owl-item.active, .fancybox-nav span {
    opacity: 1;
    visibility: visible;
    transition: all .2s ease;
}
.select .dropdown ul li:hover, .select .dropdown ul li.act {
  color: #2287fb;
}
.select.open .dropdown {
  transform: none;
}
.select.open .select-txt:after {
  transform: rotate(-180deg);
}

.checkbox, .radiobutton {
  position: relative;
  display: block;
  padding-left: 24px;
  color: #494b54;
  cursor: pointer;
}
.checkbox input, .radiobutton input {
  position: absolute;
  left: 0;
  top: 0;
}
.checkbox input + span, .radiobutton input + span {
  position: absolute;
  left: 0;
  right: 0;
  width: 16px;
  height: 16px;
}
.checkbox input:checked + span + .txt, .radiobutton input:checked + span + .txt {
  color: #494b54;
}
.checkbox input[type="checkbox"] + span, .radiobutton input[type="checkbox"] + span {
  background-position: -302px -121px;
}
.checkbox input[type="checkbox"]:checked + span, .radiobutton input[type="checkbox"]:checked + span {
  background-position: -302px -141px;
}
.checkbox input[type="radio"] + span, .radiobutton input[type="radio"] + span {
  background-position: -282px -121px;
}
.checkbox input[type="radio"]:checked + span, .radiobutton input[type="radio"]:checked + span {
  background-position: -282px -141px;
}
.checkbox .ic, .radiobutton .ic {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}
.checkbox .ic.man, .radiobutton .ic.man {
  background-position: -248px -186px;
  width: 14px;
  height: 14px;
  margin-bottom: 4px;
}
.checkbox .ic.woman, .radiobutton .ic.woman {
  background-position: -267px -184px;
  width: 11px;
  height: 17px;
}
