<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="reset.css">
		<link rel="stylesheet" href="lib/owl.carousel.css">
		<link rel="stylesheet" href="lib/jquery-ui.min.css">
		<link rel="stylesheet" href="lib/ion.rangeSlider.css">
		<link rel="stylesheet" href="lib/jquery.fancybox.css">
		<link rel="stylesheet" type="text/css" href="base.css">
		<link rel="stylesheet" href="main.css">
	</head>
	<body onload="initMap()">
		<div class="page-inner ev-item-inner cf">
			<div class="event-title-wrap">
				<div style="background-image: url('{{event.image.url}}');" class="bg"></div>
				<div class="event-title">
					<div class="main-ttl">{{event.name}}</div>
					<div>
						<div class="item ev-type-icon type01"></div>
						<div class="user item"><img width="40" height="40" src="{{event.admin.image}}" title="{{event.admin.name}} {{event.admin.secondname}}" alt="{{event.admin.name}} {{event.admin.secondname}}"></div>
						<div class="user-name item">
							<div class="user-name-txt">{{event.admin.name}}</div>
							<div class="likes">{{event.rating_like}}</div>
						</div>
					</div>
				</div>
				<div class="top-nav">
					<a class="back-lnk">К списку событий</a>
					<div class="tags-wr">
						<span class="item">#Футбол</span>
						<span class="item">#Пляж</span>
						<span class="item">#Команды</span>
					</div>
				</div>
				<div class="bottom-nav">
					<div class="socials">
						<span>Поделитесь событием с друзьями:</span>
						<a class="it fb">Facebook</a>
						<a class="it tw">Twitter</a>
						<a class="it vk">VK</a>
						<a class="it ok">Odnoklassniki</a>
						<a class="pull-right btn min green like">Мне нравится!</a>
					</div>
					<div class="pull-right price-wr"><span class="price-val">{{event.price > 0 ? event.price : ''}}<span class="rub">i</span></span><a href="{{event.website}}" class="btn">Посмотреть<span class="hidden-xs"> на сайте</span></a></div>
				</div>
			</div>
			<div class="event-info-wr">
				<div class="col-sm-12 col-md-9 col-lg-8 event-info">
					<div class="col-xs-12 col-sm-4 event-info-item">
						<span class="ttl">Дата и время</span><span class="val">{{startDate}}</span><a class="lnk">Добавить в календарь</a>
					</div>
					<div class="col-xs-12 col-sm-4 event-info-item">	<span class="ttl">Место</span>
						<span class="val">{{event.address}}</span><a href="#map" class="lnk anch-lnk">Посмотреть на карте</a>
					</div>
					<div class="col-xs-12 col-sm-4 event-info-item">	<span class="ttl">Участники</span>
						<span class="users">
						<a class="item">
							<img src="img/tmp/userpic40-1.jpg" alt="">
						</a>
						<a class="item"><span>+{{ event.user.lenght - 3 }}</span></a></span>
					</div>
					<div class="col-sm-12 col-md-9 col-lg-8 txt">
						{{event.description}}
					</div>
				</div>
				<div class="gal-wr col-sm-12 col-md-3 col-lg-4">
					<div class="gallery"><a href="img/tmp/ev-ttl-back.jpg" rel="g1" class="fancybox item"><img src="img/tmp/gal-img.jpg" alt=""></a><a href="img/tmp/gal-img-big.jpg" rel="g1" class="fancybox item"><img src="img/tmp/gal-img.jpg" alt=""></a><a href="img/tmp/ev-ttl-back.jpg" rel="g1" class="fancybox item"><img src="img/tmp/gal-img.jpg" alt=""></a><a href="img/tmp/gal-img-big.jpg" rel="g1" class="fancybox item"><img src="img/tmp/gal-img.jpg" alt=""></a><a href="img/tmp/ev-ttl-back.jpg" rel="g1" class="fancybox item"><img src="img/tmp/gal-img.jpg" alt=""></a><a href="img/tmp/gal-img-big.jpg" rel="g1" class="fancybox item"><img src="img/tmp/gal-img.jpg" alt=""></a></div>
				</div>
				<div id="map" class="col-xs-12 map-inner"></div>
			</div>
		</div>
		<footer class="footer">
			<div class="downloads">
				<span class="item">Скачайте наши<br>приложения:</span>
				<br class='visible-xs'><a href="#" class="item"><img src="img/appstore.png" srcset="img/appstore@2x.png 2x" alt="" width="94"></a>
				<a href="#" class="item"><img src="img/googleplay.png" srcset="img/googleplay@2x.png 2x" alt="" width="94"></a>
			</div>
			<div class="pull-left nav">
				<ul>
					<li><a href="#">О нас</a></li>
					<li><a href="#">Условия</a></li>
					<li><a href="#">Конфиденцеальность</a></li>
					<li><a href="#">Помощь</a></li>
					<li><a href="#">Пресса</a></li>
					<li><a href="#">Перевод</a></li>
				</ul>
			</div>
		</footer>
	</body>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src='js/main.js'></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI8jlYXlwjcsWszZrQM29swVZWvwasTcA"></script>
	<script src="js/inc/plugins/infobox_packed.js"></script>
	<script type="text/javascript" src='js/map-init.js'></script>
</html>