<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="reset.css">
		<link rel="stylesheet" href="lib/owl.carousel.css">
		<link rel="stylesheet" href="lib/jquery-ui.min.css"><link rel="stylesheet" href="lib/ion.rangeSlider.css">
		<link rel="stylesheet" href="lib/jquery.fancybox.css">
		<link rel="stylesheet" type="text/css" href="base.css">
		<link rel="stylesheet" href="main.css">
	</head>
	<body>
	<div class="page-inner" style="background-image: url('img/gr-bg.jpg');">
		<div class="top-panel">
			<div class="item search">
				<form action>
					<input type="text" placeholder="Поиск событий">
					<button class="sbmt"></button>
				</form>
			</div>
			<div class="item select">
				<select id="event-filter-select">
		            <option value="Все события"></option>
		            <option value="Мои события"></option>
		            <option value="Пойти сейчас"></option>
		            <option value="Рекомендованные события"></option>
	          	</select>
	          	<div data-dropdown="event-select" class="select-txt ev-type01 dropd-lnk t-toggle">Все события</div>
			</div>
			<a href="#" data-dropdown="filters" class="item ic it1 dropd-lnk f-toggle"></a>
			<a href="#" data-dropdown="calendar" class="item ic it2 dropd-lnk cal-toggle"></a>
		</div>
		<div class='events-list'>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ev-item">
				<div>
					<span class="img" style="background-image: url('{{item.src}}');">
						<span class="dist">{{ item.dist | number:2 }} км</span>
						<span data-dropdown="ev-share" class="share dropd-lnk">Поделиться</span>
					</span>

					<span class="ev-info">
						<span class="type t0{{ item.imgPrefix }}"></span>
						<span class="ttl">{{ item.event.name }}</span>
						<span class="users">
							<a class="item"><img src="img/tmp/userpic-min1.jpg" alt=""></a>
							<a class="item"><img src="img/tmp/userpic-min2.jpg" alt=""></a>
							<a class="item"><img src="img/tmp/userpic-min3.jpg" alt=""></a>
							<a class="item"><span>+23</span>
							</a>
						</span>
						<span class="details">
							<span class="price">
								500
								<span class="rub">i</span>
							</span>
							<span class="date">{{ item.startDate }}</span>
						</span>
					</span>
					<span class="tags-wr">
						<span class="item">#Футбол</span>
						<span class="item">#Пляж</span>
						<span class="item">#Команды</span>
					</span>
				</div>
			</div>
		</div>
	</div>
  <fmenu></fmenu>
  <ddmenu></ddmenu>
  
	<footer class="footer">
		<div class="downloads">
			<span class="item">Скачайте наши<br>приложения:</span>
			<br class='visible-xs'><a href="#" class="item"><img src="img/appstore.png" srcset="img/appstore@2x.png 2x" alt="" width="94"></a>
			<a href="#" class="item"><img src="img/googleplay.png" srcset="img/googleplay@2x.png 2x" alt="" width="94"></a>
		</div>
		<div class="pull-left nav">
			<ul>
	          <li><a href="#">О нас</a></li>
	          <li><a href="#">Условия</a></li>
	          <li><a href="#">Конфиденцеальность</a></li>
	          <li><a href="#">Помощь</a></li>
	          <li><a href="#">Пресса</a></li>
	          <li><a href="#">Перевод</a></li>
	        </ul>
		</div>
	</footer>
	<div class="dropdown-body">
      <div class="overlay"></div>
      <div class="dropdown-wr">
        <div id="event-select" data-select="event-filter-select" class="dropdown select-dropdown ev-select">
          <div class="ttl">Отображать события:</div>
          <div class="dropdown-inner">
            <ul>
              <li class="ev-type01 act">Все события</li>
              <li class="ev-type02">Мои события</li>
              <li class="ev-type03">Пойти сейчас</li>
              <li class="ev-type04">Рекомендованные события</li>
            </ul>
          </div>
          <div class="close"></div>
        </div>
        <div id="filters" class="dropdown ev-types-filter">
          <div class="ttl">Фильтры</div>
          <div class="dropdown-inner">
            <div id="ev-type-filter" class="ev-types-wr row">
              <div class="col-item fourth item act">
                <div class="ttl-wr"> 
                  <div class="item-ttl it1"><span>Блиц</span></div>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Подкатегория 1
                  </label>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Подкатегория 2
                  </label>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Подкатегория 3
                  </label>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Подкатегория 4
                  </label>
                </div>
              </div>
              <div class="col-item fourth item act">
                <div class="ttl-wr"> 
                  <div class="item-ttl it2"><span>Спорт</span></div>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Футбол
                  </label>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Хоккей
                  </label>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Волейбол
                  </label>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Хоккей на траве
                  </label>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Спортивная ходьба в парке
                  </label>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Теннис
                  </label>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Стрельба из лука
                  </label>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Другое
                  </label>
                </div>
              </div>
              <div class="col-item fourth item act">
                <div class="ttl-wr"> 
                  <div class="item-ttl it3"><span>Активности</span></div>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Пикник на природе
                  </label>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Покатушки
                  </label>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Поедание сосисок
                  </label>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Поход за одеждой
                  </label>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Просмотр кино
                  </label>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Другое
                  </label>
                </div>
              </div>
              <div class="col-item fourth item act">
                <div class="ttl-wr"> 
                  <div class="item-ttl it4"><span>Мероприятия</span></div>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Концерт
                  </label>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Выставка
                  </label>
                </div>
                <div class="inp-wr">
                  <label class="checkbox">
                    <input type="checkbox"><span></span>Спектакль
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-inner bottom cf">
            <div class="btn save">Сохранить</div>
            <div class="btn border">Отменить</div>
            <div id="filt-reset" class="btn trnsp reset">Сбросить</div>
          </div>
          <div class="close"></div>
        </div>
        <div id="calendar" class="dropdown calendar-wr">
          <div class="ttl">Дата и время</div>
          <div class="dropdown-inner">
            <div class="d-inp row row-shift">
              <div class="col-item half">
                <label class="label">С</label>
                <input type="text" placeholder="мм/дд/гггг" name="startDate" disabled>
              </div>
              <div class="col-item half">
                <label class="label">По</label>
                <input type="text" placeholder="мм/дд/гггг" name="endDate" disabled>
              </div>
            </div>
          </div>
          <div class="dropdown-inner picker-wr">
            <div class="datepicker"></div>
          </div>
          <div class="dropdown-inner bottom time-range-wr">
            <label class="label">Временной интервал</label>
            <div class="time-range range-slider"></div>
          </div>
          <div class="dropdown-inner bottom"><a class="btn border min">Отменить</a><a class="btn min">Сохранить</a></div>
          <div class="close"></div>
        </div>
        <div id="place-selection4" class="dropdown place-selection fix-height">
          <div class="ttl">Выбор места проведения мероприятия</div>
          <div class="dropdown-inner bottom">
            <div class="row row-shift">
              <div class="col-item fourth"><a class="btn border min">Отменить</a></div>
              <div class="col-item half">
                <input type="text" class="location-value">
              </div>
              <div class="col-item fourth"><a class="btn min">Сохранить</a></div>
            </div>
          </div>
          <div class="dropdown-inner map-wr">
            <div id="map" class="map"></div><img src="img/map-overlay4.png" srcset="img/map-overlay4@2x.png 2x" alt="" class="map-overlay"><img src="img/map-marker4.png" width="64" height="53" alt="" class="map-marker">
          </div>
          <div class="close"></div>
        </div>
        <div id="fr-list-edit" class="dropdown fr-list-dd fix-height">
          <div class="ttl">Приглашение друзей</div>
          <div class="dropdown-inner">
            <div class="users-list">
              <div class="users-list-inner">
                <div class="item"><a href="#"><span class="img"><img src="img/tmp/userpic1.jpg" alt=""><span class="soc-ic fb"></span></span></a><span class="txt"><a href="#"><span class="name">Алекс Сандер</span></a></span><span class="delete"></span></div>
                <div class="item"><a href="#"><span class="img"><img src="img/tmp/userpic1.jpg" alt=""><span class="soc-ic fb"></span></span></a><span class="txt"><a href="#"><span class="name">Алекс Сандер</span></a></span><span class="delete"></span></div>
              </div>
            </div>
          </div>
          <div class="dropdown-inner bottom ta-c"><a class="btn border">Отменить</a><a class="btn">Пригласить</a></div>
          <div class="close"></div>
        </div>
        <div id="fr-list-add" class="dropdown fr-list-dd fix-height">
          <div class="ttl">Приглашение друзей</div>
          <div class="dropdown-inner">
            <div class="users-list">
              <div class="users-list-inner">
                <div class="item"><a href="#"><span class="img"><img src="img/tmp/userpic1.jpg" alt=""><span class="soc-ic fb"></span></span></a><span class="txt"><a href="#"><span class="name">Алекс Сандер</span></a></span>
                  <label class="checkbox">
                    <input type="checkbox"><span></span>
                  </label>
                </div>
                <div class="item"><a href="#"><span class="img"><img src="img/tmp/userpic1.jpg" alt=""><span class="soc-ic tw"></span></span></a><span class="txt"><a href="#"><span class="name">Длинноеимя Длиннаяфамилияывмывмыв</span></a></span>
                  <label class="checkbox">
                    <input type="checkbox"><span></span>
                  </label>
                </div>
                <div class="item"><a href="#"><span class="img"><img src="img/tmp/userpic1.jpg" alt=""><span class="soc-ic vk"></span></span></a><span class="txt"><a href="#"><span class="name">Алекс Сандер</span></a></span>
                  <label class="checkbox">
                    <input type="checkbox"><span></span>
                  </label>
                </div>
                <div class="item"><a href="#"><span class="img"><img src="img/tmp/userpic1.jpg" alt=""><span class="soc-ic ok"></span></span></a><span class="txt"><a href="#"><span class="name">Алекс Сандер</span></a></span>
                  <label class="checkbox">
                    <input type="checkbox"><span></span>
                  </label>
                </div>
                <div class="item"><a href="#"><span class="img"><img src="img/tmp/userpic1.jpg" alt=""><span class="soc-ic gm"></span></span></a><span class="txt"><a href="#"><span class="name">Алекс Сандер</span></a></span>
                  <label class="checkbox">
                    <input type="checkbox"><span></span>
                  </label>
                </div>
                <div class="item"><a href="#"><span class="img"><img src="img/tmp/userpic1.jpg" alt=""><span class="soc-ic fb"></span></span></a><span class="txt"><a href="#"><span class="name">Алекс Сандер</span></a></span>
                  <label class="checkbox">
                    <input type="checkbox"><span></span>
                  </label>
                </div>
                <div class="item"><a href="#"><span class="img"><img src="img/tmp/userpic1.jpg" alt=""><span class="soc-ic fb"></span></span></a><span class="txt"><a href="#"><span class="name">Алекс Сандер</span></a></span>
                  <label class="checkbox">
                    <input type="checkbox"><span></span>
                  </label>
                </div>
                <div class="item"><a href="#"><span class="img"><img src="img/tmp/userpic1.jpg" alt=""><span class="soc-ic fb"></span></span></a><span class="txt"><a href="#"><span class="name">Алекс Сандер</span></a></span>
                  <label class="checkbox">
                    <input type="checkbox"><span></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-inner bottom ta-c"><a class="btn border">Отменить</a><a class="btn">Пригласить</a></div>
          <div class="close"></div>
        </div>
        <div id="ev-share" class="dropdown ev-share">
          <div class="ttl">Поделиться событием</div>
          <div class="dropdown-inner">
            <div class="socials"><a href="#" class="fb"></a><a href="#" class="tw"></a><a href="#" class="vk"></a><a href="#" class="ok"></a></div>
          </div>
          <div class="close"></div>
        </div>
      </div>
  </div>
   
	</body>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
	<script src="js/main.js"></script>
</html>