/*EVENTS-----------------------------------------------*/
/*TOP_PANEL*/
.top-panel {
    font-size: 0;
    min-width: 320px;
}
.top-panel .search, .top-panel .select {
    min-width: 320px;
}
.top-panel .item {
    display: inline-block;
    vertical-align: top;
    margin-right: 14px;
    border-radius: 50px;
}
.search {
    position: relative;
}
.top-panel .search input, .top-panel .search .select-txt, .top-panel .select input, .top-panel .select .select-txt {
    position: relative;
    margin-bottom: 0;
    border: none;
    height: 50px;
    line-height: 50px;
}
.top-panel .select .select-txt {
    padding-left: 63px;
}
.top-panel .select.open .select-txt:after {
    background-position: -280px -188px;
    transform: none;
}
.search input {
    font-family: "effraregular";
	width: 100%;
    height: 50px;
    line-height: 50px;
}
.search .sbmt {
    position: absolute;
    right: 19px;
    top: 13px;
    background-position: -83px -3px;
    width: 25px;
    height: 25px;
    display: block;
}
.top-panel .select .select-txt.ev-type01:before {
    background-position: -63px -119px;
    width: 25px;
    height: 26px;
    left: 25px;
    top: 12px;
}
.top-panel .select .select-txt:after {
    background-position: -280px -175px;
    width: 19px;
    height: 11px;
    top: 20px;
    right: 18px;
}
.select .select-txt:after {
    background-position: -283px -164px;
    width: 13px;
    height: 8px;
    right: 16px;
    top: 16px;
}
.top-panel .select .select-txt.ev-type01:before {
    position: absolute;
    background-position: -63px -119px;
    width: 25px;
    height: 26px;
    left: 25px;
    top: 12px;
}
.top-panel .ic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    padding-top: 13px;
    text-align: center;
    background-color: #fff;
}
.top-panel .item {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-right: 14px;
    border-radius: 50px;
}
.top-panel .ic.it1:before {
    background-position: -83px -34px;
    width: 22px;
    height: 24px;
}
.top-panel .ic.it2:before {
    background-position: -83px -64px;
    width: 26px;
    height: 25px;
}
.top-panel .ic:before {
    display: block;
    position: relative;
    margin: 0 auto;
}
.top-panel .select .select-txt.ev-type02:before {
    background-position: -124px -123px;
    width: 29px;
    height: 18px;
    left: 25px;
    top: 15px;
}
.top-panel .select .select-txt.ev-type03:before {
    background-position: -188px -119px;
    width: 25px;
    height: 26px;
    left: 25px;
    top: 12px;
}
.top-panel .select .select-txt.ev-type04:before {
    background-position: -249px -121px;
    width: 28px;
    height: 25px;
    left: 25px;
    top: 14px;
}
.top-panel .ic:hover, .top-panel .ic.act {
    background-color: #2287fb;
}
.top-panel .ic.it2:hover:before, .top-panel .ic.it2.act:before {
    background-position: -114px -64px;
}
.top-panel .ic.it1:hover:before, .top-panel .ic.it1.act:before {
    background-position: -114px -34px;
}
.row-shift .half {
    width: 48%;
}
input[type="text"]{
    width: 100%;
}
input[type="text"]:disabled{
    background-color: #f5f5f5;
}
.row.row-shift > .col-item {
    margin-left: 2%;
}
.row > .col-item {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    letter-spacing: 0;
}
.dropdown-body .dropdown .btn {
    padding: 0 20px;
    margin: 0 5px;
}
.ev-types-filter:before {
    right: 20px;
}

.ev-types-wr .ttl-wr {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.ev-types-wr .item-ttl.it1.act {
    background-color: #f8d31c;
    border-color: #f8d31c;
}
.ev-types-wr .item-ttl.it2.act {
    background-color: #2287fb;
    border-color: #2287fb;
}
.ev-types-wr .item-ttl.it3.act {
    background-color: #73ce41;
    border-color: #73ce41;
}
.ev-types-wr .item-ttl.it4.act {
    background-color: #cc61ed;
    border-color: #cc61ed;
}
.ev-types-wr .item-ttl.act {
    color: #fff;
}
.ev-types-wr .item-ttl {
    height: 40px;
    line-height: 38px;
    display: block;
    width: 162px;
    border-radius: 25px;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    padding-left: 39px;
    pointer-events: all;
    color: rgba(73, 75, 84, 0.5);
    cursor: pointer;
}
.ev-types-wr .item-ttl.it1.act:before {
    background-position: -175px -88px;
}
.ev-types-wr .item-ttl.it2.act:before {
    background-position: -213px -89px;
}
.ev-types-wr .item-ttl.it3.act:before {
    background-position: -255px -91px;
}
.ev-types-wr .item-ttl.it4.act:before {
    background-position: -297px -89px;
}
.ev-types-wr .item-ttl.it1:before {
    background-position: -161px -88px;
    width: 12px;
    height: 20px;
    left: 16px;
    top: 9px;
}
.ev-types-wr .item-ttl.it2:before {
    background-position: -191px -88px;
    width: 18px;
    height: 20px;
    left: 12px;
    top: 9px;
}
.ev-types-wr .item-ttl.it3:before {
    background-position: -235px -91px;
    width: 16px;
    height: 17px;
    left: 13px;
    top: 11px;
}
.ev-types-wr .item-ttl.it4:before {
    background-position: -277px -89px;
    width: 18px;
    height: 17px;
    left: 12px;
    top: 10px;
}
.checkbox input[type="checkbox"]:checked + span, .radiobutton input[type="checkbox"]:checked + span {
    background-position: -302px -141px;
}
.checkbox input[type="checkbox"] + span, .radiobutton input[type="checkbox"] + span {
    background-position: -302px -121px;
}

.ev-types-wr .item.act .checkbox {
    color: #494b54;
}
.ev-types-wr .item .checkbox {
    color: rgba(73, 75, 84, 0.5);
}
.ev-types-wr .item-ttl.act:after {
    border-width: 4px;
    border-color: #fff;
}
.ev-types-wr .item-ttl:after {
    width: 14px;
    height: 14px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 50%;
    right: 12px;
    top: 12px;
    transition: none;
}
/*TOP_PANEL*/
.events-list {
    margin-top: 37px;
}
.ev-item .type,
.ev-item .dist::before,
.ev-item .share::before {
    background-image: url(img/sprite.png);
    background-repeat: no-repeat;
    background-size: 320px;
}
.ev-item .dist::before,
.ev-item .share::before {
    content: " ";
    display: block;
    position: absolute;
}
.ev-item .share:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.page-inner {
    position: fixed;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ev-item>div {
    cursor: pointer;
    vertical-align: top;
    border-radius: 16px;
    overflow: hidden;
    z-index: 2;
    font-size: 14px;
}
.ev-item .img {
    background-size: cover;
    height: 236px;
    position: relative;
    display: block;
    z-index: 1;
}
.ev-item .dist:before {
    background-position: -113px -94px;
    width: 9px;
    height: 9px;
    left: 6px;
    top: 9px;
}
.ev-item .share {
    right: 21px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    font-size: 0;
    opacity: 0;
    visibility: hidden;
}
.ev-item:hover .share {
    opacity: 1;
    visibility: visible;
}
.ev-item .share:before {
    background-position: -110px -106px;
    width: 13px;
    height: 13px;
    left: 7px;
    top: 7px;
}
.ev-item .dist {
    left: 18px;
    height: 26px;
    line-height: 26px;
    color: #fff;
    padding-left: 20px;
    padding-right: 8px;
    border-radius: 6px;
}
.ev-item .dist,
.ev-item .share {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 18px;
}
.ev-item .type.t01,
.ev-item .type.t01:before,
.ev-type.t01,
.ev-type.t01:before {
    background-position: -33px -152px;
}
.ev-item .type {
    display: block;
    width: 44px;
    height: 44px;
    margin-top: -22px;
    margin-bottom: 6px;
    margin-left: -3px;
}
.ev-item .ev-info {
    display: inline-block;
    width: 100%;
    padding: 0 19px 17px;
    background-color: #fff;
    position: relative;
    z-index: 2;
}
.tags-wr {
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    padding: 14px 20px;
    white-space: nowrap;
    display: block;
}
.tags-wr .item {
    display: inline-block;
    margin-right: 5px;
    background-color: #ebebeb;
    border-radius: 6px;
    height: 26px;
    line-height: 24px;
    padding: 0 10px;
    color: #494b54;
    cursor: pointer;
}
.tags-wr .item:hover {
    background-color: #dedede;
}
.ev-item .ttl {
    width: 100%;
    font-family: "efframedium";
    color: #494b54;
    font-size: 16px;
    margin-bottom: 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ev-item .users {
    float: right;
}
.users {
    position: relative;
    z-index: 2;
    top: -2px;
    display: block;
}
.users .item {
    float: left;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #fff;
    position: relative;
    margin-left: -13px;
    background-color: #ebebeb;
    font-size: 11px;
    color: #494b54;
    text-align: center;
    line-height: 30px;
    z-index: 2;
    min-width: 31px;
}
.users .item:hover {
    background-color: #dedede;
}
.users .item img {
    margin: 0;
    position: relative;
    z-index: 1;
}
.ev-item .details {
    display: block;
    z-index: 1;
    white-space: nowrap;
}
.ev-item .details:after {
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 60%, white 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 60%, white 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 60%, white 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
    right: 0;
    top: 0;
    bottom: 0;
    width: 44px;
}
.ev-item .details .price,
.ev-item .details .date {
    display: inline-block;
    vertical-align: middle;
}
.ev-item .price {
    margin-right: 10px;
    height: 26px;
    line-height: 24px;
    padding: 0 10px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #e5e5e5;
}
.ev-item .date {
    color: #acadb0;
}
.rub,
.inp-wr.rub-ic:after {
    font-family: 'rouble';
    font-size: .9em;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 17px;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    clear: both;
    overflow: hidden;
    padding: 17px 20px 17px 24px;
    z-index: 1;
}
.footer .downloads {
    font-size: 0;
    float: right;
}
.footer .downloads .item {
    display: inline-block;
    vertical-align: top;
    color: #494b54;
    font-size: 11px;
    margin-left: 10px;
}
.footer .downloads .item:not(:first-child) {
    float: right;
}
.page-inner:after {
    height: 64px;
}
.cf:after {
    clear: both;
    content: ' ';
    display: block;
}
.footer .downloads .item {
    display: inline-block;
    vertical-align: top;
    color: #494b54;
    font-size: 11px;
    margin-left: 10px;
}
.footer .nav {
    padding-top: 5px;
}
.footer .nav li {
	position: relative;
    float: left;
    margin-right: 22px;
}
.footer .nav li:after {
    background-color: #a8a9ac;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    right: -12px;
    top: 9px;
}
.footer .nav li:last-child:after {
    background-color: inherit;
}
.footer .nav li a {
    font-size: 14px;
    color: #a8a9ac;
}
.footer .nav li:after {
    background-color: #a8a9ac;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    right: -12px;
    top: 9px;
}
/*EVENTS-----------------------------------------------*/
/*DROPDOWN-------------*/.dropdown-body .dropdown, .irs-from, .irs-to, .irs-single, .dropdown-body .ev-select li {
  position: relative;
}

.dropdown-body .dropdown:before, .irs-from:after, .irs-to:after, .irs-single:after, .dropdown-body .ev-select li:before, .a-spr:before, .b-spr:before {
  content: " ";
  display: block;
  position: absolute;
}

.irs-from:after, .irs-to:after, .irs-single:after, .dropdown-body .ev-select li:before, .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span, .owl-nav .owl-prev, .owl-nav .owl-next, .fancybox-nav span, .fancybox-close, .dropdown-body .dropdown .close, .a-spr:before, .b-spr:before, .spr {
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-size: 320px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .irs-from:after, .irs-to:after, .irs-single:after, .dropdown-body .ev-select li:before, .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span, .owl-nav .owl-prev, .owl-nav .owl-next, .fancybox-nav span, .fancybox-close, .dropdown-body .dropdown .close, .a-spr:before, .b-spr:before, .spr {
    background-image: url("img/sprite@2x.png");
  }
}

.dropdown-body, .dropdown-body .overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.slider, .owl-item, .dropdown-body .dropdown .close, .dropdown-body .ev-select li, .dropdown-body .ev-share .socials a {
  transition: all .15s ease;
}

.slider, .owl-item, .dropdown-body, .dropdown-body .dropdown {
  opacity: 0;
  visibility: hidden;
}

.slider.owl-loaded, .owl-item.active, .fancybox-nav span, .dropdown-body.act, .dropdown-body .dropdown.act {
  opacity: 1;
  visibility: visible;
  transition: all .2s ease;
}

.dropdown-body .dropdown, .irs-from, .irs-to, .irs-single, .dropdown-body .ev-select li {
  position: relative;
}

.dropdown-body .dropdown:before, .irs-from:after, .irs-to:after, .irs-single:after, .dropdown-body .ev-select li:before, .a-spr:before, .b-spr:before {
  content: " ";
  display: block;
  position: absolute;
}

.irs-from:after, .irs-to:after, .irs-single:after, .dropdown-body .ev-select li:before, .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span, .owl-nav .owl-prev, .owl-nav .owl-next, .fancybox-nav span, .fancybox-close, .dropdown-body .dropdown .close, .a-spr:before, .b-spr:before, .spr {
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-size: 320px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .irs-from:after, .irs-to:after, .irs-single:after, .dropdown-body .ev-select li:before, .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span, .owl-nav .owl-prev, .owl-nav .owl-next, .fancybox-nav span, .fancybox-close, .dropdown-body .dropdown .close, .a-spr:before, .b-spr:before, .spr {
    background-image: url("img/sprite@2x.png");
  }
}
.dropdown-body, .dropdown-body .overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.slider, .owl-item, .dropdown-body .dropdown .close, .dropdown-body .ev-select li, .dropdown-body .ev-share .socials a {
  transition: all .15s ease;
}

.slider, .owl-item, .dropdown-body, .dropdown-body .dropdown {
  opacity: 0;
  visibility: hidden;
}

.slider.owl-loaded, .owl-item.active, .fancybox-nav span, .dropdown-body.act, .dropdown-body .dropdown.act {
  opacity: 1;
  visibility: visible;
  transition: all .2s ease;
}

.ui-widget.ui-widget-content {
  border: none;
  padding: 0;
  font-family: 'effraregular';
  background-color: transparent;
  width: 234px;
}

.ui-datepicker .ui-datepicker-header {
  background-color: #2287fb;
  border: none;
  border-radius: 20px 20px 0 0;
  color: #fff;
  padding: 0;
}

.ui-datepicker .ui-datepicker-title {
  height: 50px;
  padding-top: 13px;
}

.ui-datepicker table {
  background-color: #fff;
  padding: 0px 13px 8px;
  border-collapse: separate;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  border-radius: 0 0 20px 20px;
  table-layout: fixed;
  font-size: 0;
  margin: 0;
}

.ui-datepicker th {
  color: #b1afb1;
  font-size: 12px;
  font-weight: normal;
  background: none;
  padding: 14px 0px 10px;
}

.ui-datepicker td {
  padding: 0;
  padding-bottom: 1px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  border: none;
  background-color: transparent;
  top: 14px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  width: 15px;
  height: 12px;
}

.ui-datepicker .ui-datepicker-prev {
  left: 15px;
}

.ui-datepicker .ui-datepicker-prev span {
  background-position: -289px -4px;
}

.ui-datepicker .ui-datepicker-next {
  right: 15px;
}

.ui-datepicker .ui-datepicker-next span {
  background-position: -290px -19px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: none;
  text-align: center;
  color: #494b54;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 auto;
  line-height: 22px;
  display: block;
  background-color: transparent;
  font-size: 12px;
}

.ui-button.ui-state-disabled:hover {
  background-color: #eaf8e3;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-content .ui-state-active:hover {
  background-color: #73ce41;
  color: #fff;
}

.ui-state-default:hover {
  background-color: #eaf8e3;
}

.selected .ui-state-active {
  border-radius: 0;
  width: auto;
}

.selected.selected-start.selected-end .ui-state-active {
  border-radius: 20px;
}

.selected-start .ui-state-active {
  border-radius: 20px 0 0 20px;
}

.selected-end .ui-state-active {
  border-radius: 0 20px 20px 0;
}

.birth-picker .ui-datepicker-year {
  display: none;
}

.owl-carousel .owl-stage-outer {
  overflow: visible;
}

.owl-nav .owl-prev, .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -26px;
  width: 16px;
  height: 52px;
  font-size: 0;
}

.owl-nav .owl-prev {
  background-position: -256px -206px;
  left: 20px;
}

.owl-nav .owl-next {
  background-position: -277px -206px;
  right: 20px;
}

.user-gallery .owl-nav .owl-prev, .user-gallery .owl-nav .owl-next {
  width: 27px;
  height: 27px;
  margin-top: -14px;
}

.user-gallery .owl-nav .owl-prev {
  background-position: -2px -268px;
  left: 10px;
}

.user-gallery .owl-nav .owl-next {
  background-position: -32px -268px;
  right: 10px;
}

.fancybox-lock {
  overflow: visible !important;
}

.fancybox-overlay {
  background-color: rgba(31, 29, 31, 0.8);
}

.fancybox-nav {
  position: fixed;
  width: 80px;
  background-color: rgba(31, 29, 31, 0.2);
}

.fancybox-nav span {
  width: 16px;
  height: 52px;
  margin-top: -26px;
}

.fancybox-prev span {
  background-position: -256px -206px;
  left: 30px;
}

.fancybox-next span {
  background-position: -277px -206px;
  right: 30px;
}

.fancybox-close {
  background-position: -266px -294px;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 50%;
  margin-left: -25px;
  top: 40px;
}

.ymaps-2-1-44-balloon {
  display: none;
}

.irs {
  height: 52px;
}

.irs-bar, .irs-line {
  top: 33px;
}

.irs-bar {
  height: 2px;
  background-color: #73ce41;
}

.irs-line {
  height: 2px;
  background-color: #ebebeb;
}

.irs-from, .irs-to, .irs-single {
  height: 23px;
  line-height: 23px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  padding: 0 10px;
  font-size: 12px;
  color: #494b54;
  background-color: #fff;
  position: absolute;
  cursor: pointer;
}

.irs-from:after, .irs-to:after, .irs-single:after {
  background-position: -12px -127px;
  width: 11px;
  height: 5px;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.irs-slider {
  background-color: #fff;
  width: 14px;
  height: 14px;
  border: 3px solid #73ce41;
  border-radius: 50%;
  top: 27px;
  cursor: pointer;
}

.irs-min, .irs-max {
  display: none;
}

.sex-range-wr .irs-line {
  background-color: #ea4b78;
}

.sex-range-wr .irs-bar {
  background-color: #2287fb;
  left: 0 !important;
}

.time-range-one .irs-bar {
  left: 0 !important;
}

.infoBox img[src$="close.png"] {
  width: 30px;
  position: relative;
  top: 15px;
  right: -15px;
  z-index: 1000;
}

.top-panel .dropd-lnk.act {
  position: relative;
  z-index: 300;
  background-color: #2287fb;
  color: #fff;
}

.top-panel .dropd-lnk.act:after {
  background-position: -295px -100px;
  width: 19px;
  height: 11px;
  top: 19px;
}

.top-panel .dropd-lnk.act.place-choice {
  z-index: 1;
  background-color: inherit;
}

.body-fix {
  overflow: hidden;
}

.dropdown-body {
  position: fixed;
  transition: all .3s ease;
  z-index: 2;
  overflow: auto;
}

.dropdown-body .overlay {
  background-color: rgba(73, 75, 84, 0.3);
  position: fixed;
  z-index: 400;
}

.dropdown-body .dropdown-item {
  padding-top: 8px;
}

.dropdown-body .dropdown {
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  transform: translate3d(0, 10px, 0);
  z-index: 500;
  box-shadow: 0 15px 30px rgba(56, 51, 56, 0.5);
}

.dropdown-body .dropdown.scroll {
  overflow-y: auto;
  bottom: 10px;
}

.dropdown-body .dropdown.act {
  transition: all .2s ease 0s;
  transform: none;
}

.dropdown-body .dropdown:before {
  border-bottom: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  top: -8px;
}

.dropdown-body .dropdown .ttl {
  font-size: 20px;
  padding: 13px 24px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px;
}

.dropdown-body .dropdown .close {
  position: absolute;
  background-position: -301px -183px;
  width: 17px;
  height: 16px;
  display: block;
  top: 17px;
  right: 20px;
  cursor: pointer;
  opacity: .5;
}

.dropdown-body .dropdown .close:hover {
  opacity: 1;
}

.dropdown-body .dropdown .dropdown-inner {
  padding: 0 25px 19px;
}

.dropdown-body .dropdown .dropdown-inner.bottom {
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}

.dropdown-body .dropdown .dropdown-inner.bottom .btn.save {
  float: right;
}

.dropdown-body .dropdown .dropdown-inner.time-range-wr {
  text-align: left;
  padding: 22px 30px 0px;
}

.dropdown-body .dropdown .btn {
  padding: 0 20px;
  margin: 0 5px;
}

.dropdown-body .dropdown.static {
  top: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdown-body .select-dropdown li {
  border-bottom: 1px solid #e5e5e5;
  color: #494b54;
  cursor: pointer;
}

.dropdown-body .select-dropdown li:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.dropdown-body .ev-select {
  width: 355px;
}

.dropdown-body .ev-select:before {
  left: 50%;
  margin-left: -8px;
}

.dropdown-body .ev-select li {
  padding-left: 50px;
  font-size: 14px;
  padding: 2px 10px 22px 38px;
  margin-bottom: 20px;
}

.dropdown-body .ev-select li:before {
  left: 0;
  top: 0px;
}

.dropdown-body .ev-select li.ev-type01:before {
  background-position: -63px -119px;
  width: 25px;
  height: 26px;
  top: -2px;
}

.dropdown-body .ev-select li.ev-type02:before {
  background-position: -124px -123px;
  width: 29px;
  height: 18px;
}

.dropdown-body .ev-select li.ev-type03:before {
  background-position: -188px -119px;
  width: 25px;
  height: 26px;
  top: -4px;
}

.dropdown-body .ev-select li.ev-type04:before {
  background-position: -249px -121px;
  width: 28px;
  height: 25px;
}

.dropdown-body .ev-select li:hover, .dropdown-body .ev-select li.act {
  color: #2287fb;
}

.dropdown-body .calendar-wr .label {
  color: #494b54;
}

.dropdown-body .calendar-wr .ttl {
  margin-bottom: 17px;
}

.dropdown-body .calendar-wr:before {
  left: 50%;
  margin-left: -8px;
}

.dropdown-body .calendar-wr .dropdown-inner {
  width: 284px;
}

.dropdown-body .calendar-wr .dropdown-inner.picker-wr {
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.dropdown-body .calendar-wr .dropdown-inner.bottom {
  border-top: 1px solid #e5e5e5;
}

.dropdown-body .calendar-wr .dropdown-inner.time-range {
  text-align: left;
}

.dropdown-body .calendar-wr .d-inp .label {
  padding-left: 15px;
  display: block;
  margin-bottom: 7px;
}

.dropdown-body .calendar-wr .d-inp input {
  padding-left: 14px;
  margin-bottom: 0;
}

.dropdown-body .place-selection {
  width: 723px;
  height: 649px;
  left: 50%;
  margin-left: -362px;
  top: 50%;
  margin-top: -325px;
  overflow: hidden;
}

.dropdown-body .place-selection:before {
  display: none;
}

.dropdown-body .place-selection .ttl {
  margin-bottom: 0;
  border: none;
}

.dropdown-body .place-selection .map-marker, .dropdown-body .place-selection .map-overlay {
  pointer-events: none;
}

.dropdown-body .place-selection .map-wr {
  padding: 0;
  position: relative;
}

.dropdown-body .place-selection .map-marker {
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -25px;
  position: absolute;
}

.dropdown-body .place-selection .map-overlay {
  position: relative;
}

.dropdown-body .place-selection .btn {
  display: block;
}

.dropdown-body .fr-list-dd, .dropdown-body .ev-share {
  width: 371px;
  height: 604px;
  left: 50%;
  top: 50%;
  margin-left: -185px;
  margin-top: -302px;
}

.dropdown-body .fr-list-dd:before, .dropdown-body .ev-share:before {
  display: none;
}

.dropdown-body .fr-list-dd .bottom, .dropdown-body .ev-share .bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.dropdown-body .fr-list-dd .ttl, .dropdown-body .ev-share .ttl {
  padding-top: 27px;
  padding-bottom: 24px;
  margin-bottom: 20px;
}

.dropdown-body .fr-list-dd .dropdown-inner, .dropdown-body .ev-share .dropdown-inner {
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown-body .fr-list-dd .bottom, .dropdown-body .ev-share .bottom {
  padding-right: 0;
  padding-left: 0;
}

.dropdown-body .fr-list-dd .btn, .dropdown-body .ev-share .btn {
  margin: 0 7px;
  min-width: 153px;
}

.dropdown-body .fr-list-dd .close, .dropdown-body .ev-share .close {
  top: 30px;
  right: 30px;
}

.dropdown-body .ev-share {
  margin-top: 0;
  height: auto;
}

.dropdown-body .ev-share .socials {
  text-align: center;
}

.dropdown-body .ev-share .socials a {
  width: 40px;
  height: 40px;
  margin: 0 6px;
  opacity: .8;
}

.dropdown-body .ev-share .socials a.fb {
  background-position: -146px -390px;
}

.dropdown-body .ev-share .socials a.tw {
  background-position: -190px -390px;
}

.dropdown-body .ev-share .socials a.vk {
  background-position: -234px -390px;
}

.dropdown-body .ev-share .socials a.ok {
  background-position: -278px -390px;
}

.dropdown-body .ev-share .socials a:hover {
  opacity: 1;
}

.dropdown-body .ev-share.act {
  transform: translate3d(0, -50%, 0);
}

.body-scroll {
  overflow: auto;
}

.half {
  width: 50%;
}

.row-shift .half {
  width: 48%;
}

.third {
  width: 33.3%;
}

.row-shift .third {
  width: 31.3%;
}

.fourth {
  width: 25%;
}

.row-shift .fourth {
  width: 23%;
}

.part-5 {
  width: 20%;
}

.row-shift .part-5 {
  width: 19%;
}

.part-6 {
  width: 16.6%;
}

.row-shift .part-6 {
  width: 15.6%;
}

.pr-col {
  padding-right: 10px;
}

.row {
  font-size: 0;
  letter-spacing: -.33em;
}

.row > .col-item {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  letter-spacing: 0;
}

.row.row-shift {
  margin-left: -2%;
}

.row.row-shift > .col-item {
  margin-left: 2%;
}

.row.row-shift > .col-item.icon-text {
  margin-bottom: 3%;
}

.ui-widget.ui-widget-content {
  border: none;
  padding: 0;
  font-family: 'effraregular';
  background-color: transparent;
  width: 234px;
}

.ui-datepicker .ui-datepicker-header {
  background-color: #2287fb;
  border: none;
  border-radius: 20px 20px 0 0;
  color: #fff;
  padding: 0;
}

.ui-datepicker .ui-datepicker-title {
  height: 50px;
  padding-top: 13px;
}

.ui-datepicker table {
  background-color: #fff;
  padding: 0px 13px 8px;
  border-collapse: separate;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  border-radius: 0 0 20px 20px;
  table-layout: fixed;
  font-size: 0;
  margin: 0;
}

.ui-datepicker th {
  color: #b1afb1;
  font-size: 12px;
  font-weight: normal;
  background: none;
  padding: 14px 0px 10px;
}

.ui-datepicker td {
  padding: 0;
  padding-bottom: 1px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  border: none;
  background-color: transparent;
  top: 14px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  width: 15px;
  height: 12px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 15px;
}
.ui-datepicker .ui-datepicker-prev span {
  background-position: -289px -4px;
}
.ui-datepicker .ui-datepicker-next {
  right: 15px;
}
.ui-datepicker .ui-datepicker-next span {
  background-position: -290px -19px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: none;
  text-align: center;
  color: #494b54;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 auto;
  line-height: 22px;
  display: block;
  background-color: transparent;
  font-size: 12px;
}

.ui-button.ui-state-disabled:hover {
  background-color: #eaf8e3;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-content .ui-state-active:hover {
  background-color: #73ce41;
  color: #fff;
}

.ui-state-default:hover {
  background-color: #eaf8e3;
}

.selected .ui-state-active {
  border-radius: 0;
  width: auto;
}
.selected.selected-start.selected-end .ui-state-active {
  border-radius: 20px;
}

.selected-start .ui-state-active {
  border-radius: 20px 0 0 20px;
}

.selected-end .ui-state-active {
  border-radius: 0 20px 20px 0;
}

.birth-picker .ui-datepicker-year {
  display: none;
}

.owl-carousel .owl-stage-outer {
  overflow: visible;
}

.owl-nav .owl-prev, .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -26px;
  width: 16px;
  height: 52px;
  font-size: 0;
}
.owl-nav .owl-prev {
  background-position: -256px -206px;
  left: 20px;
}
.owl-nav .owl-next {
  background-position: -277px -206px;
  right: 20px;
}
.user-gallery .owl-nav .owl-prev, .user-gallery .owl-nav .owl-next {
  width: 27px;
  height: 27px;
  margin-top: -14px;
}
.user-gallery .owl-nav .owl-prev {
  background-position: -2px -268px;
  left: 10px;
}
.user-gallery .owl-nav .owl-next {
  background-position: -32px -268px;
  right: 10px;
}

.fancybox-lock {
  overflow: visible !important;
}

.fancybox-overlay {
  background-color: rgba(31, 29, 31, 0.8);
}

.fancybox-nav {
  position: fixed;
  width: 80px;
  background-color: rgba(31, 29, 31, 0.2);
}
.fancybox-nav span {
  width: 16px;
  height: 52px;
  margin-top: -26px;
}

.fancybox-prev span {
  background-position: -256px -206px;
  left: 30px;
}

.fancybox-next span {
  background-position: -277px -206px;
  right: 30px;
}

.fancybox-close {
  background-position: -266px -294px;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 50%;
  margin-left: -25px;
  top: 40px;
}

.ymaps-2-1-44-balloon {
  display: none;
}

.irs {
  height: 52px;
}

.irs-bar, .irs-line {
  top: 33px;
}

.irs-bar {
  height: 2px;
  background-color: #73ce41;
}

.irs-line {
  height: 2px;
  background-color: #ebebeb;
}

.irs-from, .irs-to, .irs-single {
  height: 23px;
  line-height: 23px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  padding: 0 10px;
  font-size: 12px;
  color: #494b54;
  background-color: #fff;
  position: absolute;
  cursor: pointer;
}
.irs-from:after, .irs-to:after, .irs-single:after {
  background-position: -12px -127px;
  width: 11px;
  height: 5px;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.irs-slider {
  background-color: #fff;
  width: 14px;
  height: 14px;
  border: 3px solid #73ce41;
  border-radius: 50%;
  top: 27px;
  cursor: pointer;
}

.irs-min, .irs-max {
  display: none;
}

.sex-range-wr .irs-line {
  background-color: #ea4b78;
}
.sex-range-wr .irs-bar {
  background-color: #2287fb;
  left: 0 !important;
}

.time-range-one .irs-bar {
  left: 0 !important;
}

.infoBox img[src$="close.png"] {
  width: 30px;
  position: relative;
  top: 15px;
  right: -15px;
  z-index: 1000;
}

.top-panel .dropd-lnk.act {
  position: relative;
  z-index: 300;
  background-color: #2287fb;
  color: #fff;
}
.top-panel .dropd-lnk.act:after {
  background-position: -295px -100px;
  width: 19px;
  height: 11px;
  top: 19px;
}
.top-panel .dropd-lnk.act.place-choice {
  z-index: 1;
  background-color: inherit;
}

.body-fix {
  overflow: hidden;
}

.dropdown-body {
  position: fixed;
  transition: all .3s ease;
  z-index: 2;
  overflow: auto;
}
.dropdown-body .overlay {
  background-color: rgba(73, 75, 84, 0.3);
  position: fixed;
  z-index: 400;
}
.dropdown-body .dropdown-item {
  padding-top: 8px;
}
.dropdown-body .dropdown {
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  transform: translate3d(0, 10px, 0);
  z-index: 500;
  box-shadow: 0 15px 30px rgba(56, 51, 56, 0.5);
}
.dropdown-body .dropdown.scroll {
  overflow-y: auto;
  bottom: 10px;
}
.dropdown-body .dropdown.act {
  transition: all .2s ease 0s;
  transform: none;
}
.dropdown-body .dropdown:before {
  border-bottom: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  top: -8px;
}
.dropdown-body .dropdown .ttl {
  font-size: 20px;
  padding: 13px 24px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px;
}
.dropdown-body .dropdown .close {
  position: absolute;
  background-position: -301px -183px;
  width: 17px;
  height: 16px;
  display: block;
  top: 17px;
  right: 20px;
  cursor: pointer;
  opacity: .5;
}
.dropdown-body .dropdown .close:hover {
  opacity: 1;
}
.dropdown-body .dropdown .dropdown-inner {
  padding: 0 25px 19px;
}
.dropdown-body .dropdown .dropdown-inner.bottom {
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}
.dropdown-body .dropdown .dropdown-inner.bottom .btn.save {
  float: right;
}
.dropdown-body .dropdown .dropdown-inner.time-range-wr {
  text-align: left;
  padding: 22px 30px 0px;
}
.dropdown-body .dropdown .btn {
  padding: 0 20px;
  margin: 0 5px;
}
.dropdown-body .dropdown.static {
  top: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dropdown-body .select-dropdown li {
  border-bottom: 1px solid #e5e5e5;
  color: #494b54;
  cursor: pointer;
}
.dropdown-body .select-dropdown li:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.dropdown-body .ev-select {
  width: 355px;
}
.dropdown-body .ev-select:before {
  left: 50%;
  margin-left: -8px;
}
.dropdown-body .ev-select li {
  padding-left: 50px;
  font-size: 14px;
  padding: 2px 10px 22px 38px;
  margin-bottom: 20px;
}
.dropdown-body .ev-select li:before {
  left: 0;
  top: 0px;
}
.dropdown-body .ev-select li.ev-type01:before {
  background-position: -63px -119px;
  width: 25px;
  height: 26px;
  top: -2px;
}
.dropdown-body .ev-select li.ev-type02:before {
  background-position: -124px -123px;
  width: 29px;
  height: 18px;
}
.dropdown-body .ev-select li.ev-type03:before {
  background-position: -188px -119px;
  width: 25px;
  height: 26px;
  top: -4px;
}
.dropdown-body .ev-select li.ev-type04:before {
  background-position: -249px -121px;
  width: 28px;
  height: 25px;
}
.dropdown-body .ev-select li:hover, .dropdown-body .ev-select li.act {
  color: #2287fb;
}
.dropdown-body .calendar-wr .label {
  color: #494b54;
}
.dropdown-body .calendar-wr .ttl {
  margin-bottom: 17px;
}
.dropdown-body .calendar-wr:before {
  left: 50%;
  margin-left: -8px;
}
.dropdown-body .calendar-wr .dropdown-inner {
  width: 284px;
}
.dropdown-body .calendar-wr .dropdown-inner.picker-wr {
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dropdown-body .calendar-wr .dropdown-inner.bottom {
  border-top: 1px solid #e5e5e5;
}
.dropdown-body .calendar-wr .dropdown-inner.time-range {
  text-align: left;
}
.dropdown-body .calendar-wr .d-inp .label {
  padding-left: 15px;
  display: block;
  margin-bottom: 7px;
}
.dropdown-body .calendar-wr .d-inp input {
  padding-left: 14px;
  margin-bottom: 0;
}
.dropdown-body .place-selection {
  width: 723px;
  height: 649px;
  left: 50%;
  margin-left: -362px;
  top: 50%;
  margin-top: -325px;
  overflow: hidden;
}
.dropdown-body .place-selection:before {
  display: none;
}
.dropdown-body .place-selection .ttl {
  margin-bottom: 0;
  border: none;
}
.dropdown-body .place-selection .map-marker, .dropdown-body .place-selection .map-overlay {
  pointer-events: none;
}
.dropdown-body .place-selection .map-wr {
  padding: 0;
  position: relative;
}
.dropdown-body .place-selection .map-marker {
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -25px;
  position: absolute;
}
.dropdown-body .place-selection .map-overlay {
  position: relative;
}
.dropdown-body .place-selection .btn {
  display: block;
}
.dropdown-body .fr-list-dd, .dropdown-body .ev-share {
  width: 371px;
  height: 604px;
  left: 50%;
  top: 50%;
  margin-left: -185px;
  margin-top: -302px;
}
.dropdown-body .fr-list-dd:before, .dropdown-body .ev-share:before {
  display: none;
}
.dropdown-body .fr-list-dd .bottom, .dropdown-body .ev-share .bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.dropdown-body .fr-list-dd .ttl, .dropdown-body .ev-share .ttl {
  padding-top: 27px;
  padding-bottom: 24px;
  margin-bottom: 20px;
}
.dropdown-body .fr-list-dd .dropdown-inner, .dropdown-body .ev-share .dropdown-inner {
  padding-left: 20px;
  padding-right: 20px;
}
.dropdown-body .fr-list-dd .bottom, .dropdown-body .ev-share .bottom {
  padding-right: 0;
  padding-left: 0;
}
.dropdown-body .fr-list-dd .btn, .dropdown-body .ev-share .btn {
  margin: 0 7px;
  min-width: 153px;
}
.dropdown-body .fr-list-dd .close, .dropdown-body .ev-share .close {
  top: 30px;
  right: 30px;
}
.dropdown-body .ev-share {
  margin-top: 0;
  height: auto;
}
.dropdown-body .ev-share .socials {
  text-align: center;
}
.dropdown-body .ev-share .socials a {
  width: 40px;
  height: 40px;
  margin: 0 6px;
  opacity: .8;
}
.dropdown-body .ev-share .socials a.fb {
  background-position: -146px -390px;
}
.dropdown-body .ev-share .socials a.tw {
  background-position: -190px -390px;
}
.dropdown-body .ev-share .socials a.vk {
  background-position: -234px -390px;
}
.dropdown-body .ev-share .socials a.ok {
  background-position: -278px -390px;
}
.dropdown-body .ev-share .socials a:hover {
  opacity: 1;
}
.dropdown-body .ev-share.act {
  transform: translate3d(0, -50%, 0);
}

.body-scroll {
  overflow: auto;
}

/*DROPDOWN-------------*/
/*EVENT ITEM-----------------*/
.ev-item-inner {
    padding: 0;
    padding-left: 12px;
}
.page-inner, .top-panel, .left-inner {
    pointer-events: none;
}
.page-inner {
    display: inline-block;
    padding:0;
    position: relative;
    height: 100%;
    pointer-events: none;
    min-height: 100%;
    margin-bottom: -64px;
    background-color: #fff;
}
.event-title-wrap {
    background-color: #032046;
    display: table;
    height: 475px;
    position: relative;
    min-width: 100%;
}
.page-inner > *, .top-panel > *, .left-inner > * {
    pointer-events: all;
}
.event-title-wrap .event-title {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    position: relative;
    padding-left: 36px;
    padding-bottom: 12px;
}
.event-title-wrap .event-title .main-ttl {
    margin-bottom: 12px;
}
.event-title-wrap .event-title .ev-type-icon.type03 {
    background-position: -129px -203px;
}
.event-title-wrap .event-title .ev-type-icon {
    width: 57px;
    height: 60px;
    margin-left: -6px;
}
.event-title-wrap .event-title .item {
    display: inline-block;
    vertical-align: middle;
}
.event-title-wrap .event-title .user {
    margin-left: -7px;
    margin-top: -2px;
    margin-right: 12px;
}

.event-title-wrap .event-title .item {
    display: inline-block;
    vertical-align: middle;
}
.event-title-wrap .event-title .user img {
    border-radius: 50%;
}
img {
    border: medium none;
    display: block;
    max-width: 100%;
}
.event-title-wrap .event-title .item {
    display: inline-block;
    vertical-align: middle;
}
.event-title-wrap .event-title .user-name .user-name-txt {
    font-size: 16px;
    margin-bottom: 2px;
}
.likes {
    padding-left: 18px;
    font-size: 14px;
}
.likes:before {
    background-position: -245px -324px;
    width: 13px;
    height: 14px;
    left: 0;
    top: 0;
}
.event-title-wrap .bg:before {
    background-color: #032046;
    opacity: .8;
}
.event-title-wrap .bg:after {
    background-image: url(img/gr-bg2.jpg);
    opacity: .2;
}
.event-title-wrap .top-nav, .event-title-wrap .bottom-nav {
    position: absolute;
    left: 30px;
    right: 30px;
}
.event-title-wrap .top-nav {
    top: 27px;
}
.tags-wr {
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    padding: 14px 20px;
    white-space: nowrap;
    display: block;
}
.event-title-wrap .top-nav .tags-wr {
    float: right;
    background-color: transparent;
    padding: 0;
    border: none;
}
.tags-wr .item {
    display: inline-block;
    margin-right: 5px;
    background-color: #ebebeb;
    border-radius: 6px;
    height: 26px;
    line-height: 24px;
    padding: 0 10px;
    color: #494b54;
    cursor: pointer;
}
.event-title-wrap .top-nav .tags-wr .item {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.event-title-wrap .top-nav .tags-wr .item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.event-title-wrap .top-nav .back-lnk {
    padding-bottom: 15px;
    float: left;
    opacity: .3;
    color: #fff;
    padding-left: 28px;
    display: block;
    padding-top: 3px;
}
.event-title-wrap .top-nav .back-lnk:hover {
    opacity: 1;
}
.event-title-wrap .top-nav .back-lnk:before {
    background-position: -143px -86px;
    width: 13px;
    height: 23px;
    left: 0;
    top: 0;
}
.event-title-wrap .bottom-nav {
    bottom: 33px;
}
.event-title-wrap .price-wr {
    background-color: rgba(36, 17, 14, 0.3);
    height: 50px;
    padding-left: 34px;
    border-radius: 25px;
    position: relative;
    top: 21px;
}
.event-title-wrap .price-wr .price-val {
    color: #ffd700;
    font-size: 15px;
    margin-right: 20px;
    line-height: 50px;
}
.event-title-wrap .price-wr .btn {
    top:-2px;
    margin-bottom: 0;
    padding: 0 30px;
}
.event-title-wrap .socials {
    color: #fff;
}
.socials {
    display: inline-block;
    font-size: 0;
}
.event-title-wrap .socials span {
    opacity: .5;
    font-size: 14px;
    display: block;
    margin-bottom: 11px;
}

.event-title-wrap .socials a.it {
    width: 40px;
    height: 40px;
    opacity: .5;
    margin-right: 12px;
}
.event-title-wrap .socials a.fb {
    background-position: -143px -37px;
}
.event-title-wrap .socials a.tw {
    background-position: -187px -37px;
}
.event-title-wrap .socials a.vk {
    background-position: -231px -37px;
}
.event-title-wrap .socials a.ok {
    background-position: -275px -37px;
}
.event-title-wrap .socials a.btn {
    background-image: none;
}
.socials a {
    display: inline-block;
    vertical-align: middle;
}
.event-title-wrap .socials a:hover {
    opacity: 1;
}
@media(max-width: 767px) {
    .event-title-wrap{
        height: 700px;
    }
    .btn.min.green.like{
        width: 100%;
        margin:15px 0;
    }
    .event-title-wrap .price-wr{
        top:0;
    }
    .socials>a{
        margin: auto; 
    }
}
.event-info-wr .event-info .event-info-item {
    -webkit-box-shadow: 2px 0px 0 -1px #e5e5e5;
    -moz-box-shadow:    2px 0px 0 -1px #e5e5e5;
    box-shadow:         2px 0px 0 -1px #e5e5e5;
}
.event-info-wr{
    display: inline-block;
    padding: 30px;
}
.event-info-wr .event-info .event-info-item .users .item {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: -7px;
    font-size: 14px;
}
.event-info-wr .event-info .event-info-item .ttl {
    color: rgba(73, 75, 84, 0.5);
    margin-bottom: 7px;
}
.event-info-wr .event-info .event-info-item .val {
    font-size: 16px;
    margin-bottom: 4px;
}
.event-info-wr .event-info .event-info-item .lnk {
    color: #2287fb;
}
.event-info-wr .event-info .txt {
    padding-top: 24px;
    padding-right: 80px;
    font-size: 16px;
}
.event-info-wr .event-info .txt p {
    margin-bottom: 25px;
}
.map-inner {
    background-color: #f5f5f5;
    height: 300px;
}
.event-info-wr .gallery {
    margin-bottom: 25px;
    overflow: hidden;
}
.event-info-wr .gallery .item {
    float: left;
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;
}
/*EVENT ITEM-----------------*/
/*PROFILE--------------------*/
.user-main-info {
    margin-bottom: 33px;
}
.profile-status .item {
    min-width: 57px;
    padding-bottom: 10px;
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
.profile-status .item span {
    font-size: 22px;
    display: block;
    margin-bottom: 2px;
}
.profile-status .item span + span {
    font-size: 14px;
    color: rgba(73, 75, 84, 0.5);
}
.profile-status {
    text-align: center;
    margin-top: 6px;
}
.user-main-info .ph-upl-wr .ph-item {
    width: 176px;
    height: 176px;
    overflow: hidden;
    border-radius: 50%;
}
.btn.edit-lnk:before, input[type="submit"].btn.edit-lnk:before, button.btn.edit-lnk:before {
    margin-right: 10px;
}
.edit-lnk:before {
    background-position: -261px -165px;
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
}
.sub-ttl {
    font-size: 22px;
    margin-bottom: 35px;
}
.user-info-list .item span {
    color: rgba(73, 75, 84, 0.5);
    display: block;
    line-height: 1;
    margin-bottom: 7px;
}
.user-info-list .item.it1:before {
    background-position: -2px -304px;
}
.ev-item .type.t02, .ev-item .type.t02:before, .ev-type.t02, .ev-type.t02:before {
    background-position: -80px -150px;
}
.user-info-list .item.it2:before {
    background-position: -131px -304px;
}
.user-info-list .item.it3:before {
    background-position: -45px -304px;
}
.user-info-list .item.it4.t1:before {
    background-position: -88px -304px;
}
.user-info-list .item.it5:before {
    background-position: -174px -304px;
}
.user-info-list .item:before {
    width: 44px;
    height: 44px;
    left: -2px;
    top: 0;
}
.user-info-list .item {
    padding-left: 55px;
    padding-top: 5px;
    margin-bottom: 25px;
}
.user-info-list .item:before {
    width: 44px;
    height: 44px;
    left: -2px;
    top: 0;
}
.user-info-list .item span + span {
    font-size: 16px;
    color: #1f1d1f;
}


.user-main-info {
    margin-bottom: 33px;
}
.user-main-info .ph-upl-wr {
    width: 176px;
    float: left;
    height: 176px;
    border-radius: 50%;
    overflow: visible;
}
.ph-upl-wr.clear {
    border: 1px solid #e5e5e5;
}
.ph-upl-wr {
    overflow: hidden;
    border-radius: 16px;
    height: 236px;
    position: relative;
    z-index: 2;
}
.user-main-info .ph-upl-wr .ph-item {
    width: 176px;
    height: 176px;
    overflow: hidden;
    border-radius: 50%;
}
.ph-upl-wr.clear .ph-item {
    visibility: hidden;
}
.ph-upl-wr .ph-item {
    position: absolute;
    z-index: 1;
}
.user-main-info .ph-upl-wr .inp-wr {
    bottom: -45px;
}
.ph-upl-wr .inp-wr {
    position: absolute;
    /* bottom: 15px; */
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    margin-bottom: 0;
}
.ph-upl-wr .ph-upl-inp {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    position: relative;
}
.ph-upl-wr .ph-upl-inp input {
    position: absolute;
    font-size: 100px;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
}

.ph-upl-wr .ph-upl-inp .btn {
    height: 40px;
    line-height: 37px;
    color: rgba(73, 75, 84, 0.5);
    padding-right: 40px;
    padding-left: 15px;
}
.user-main-info .ph-upl-wr .ph-upl-inp .btn {
    height: auto;
    text-align: center;
    padding: 25px 0px 7px 0px;
    line-height: 1.3em;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
}
.user-main-info .ph-upl-wr .ph-upl-inp .btn:after {
    top: 12px;
    left: 50%;
    margin-left: -7px;
    right: auto;
}
.ph-upl-wr.clear {
    border: 1px solid #e5e5e5;
}
.ph-upl-wr .ph-upl-inp .btn:after {
    background-position: -224px -149px;
    width: 15px;
    height: 12px;
    right: 15px;
    top: 14px;
}
.inp-wr {
    position: relative;
    margin-bottom: 18px;
}
label.label {
    font-size: 100%;
    font-weight: 500;
    text-align: left;
    color: #494b54;
    display: block;
    margin-bottom: 10px;
}
.date-one-wr.act {
    transform: none;
}
.date-one-wr.wh:before {
    background-position: -7px -149px;
}

.date-one-wr:before {
    width: 20px;
    height: 9px;
    top: 0px;
    left: 50%;
    margin-left: -10px;
}
.date-one-wr > div {
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(56, 51, 51, 0.1);
}
.date-one-wr .top, .date-one-wr .bottom {
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.date-one-wr .picker-wr {
    background-color: #f5f5f5;
    padding: 20px;
}
.date-one-wr .bottom {
    text-align: center;
    border-top: 1px solid #e5e5e5;
    border-bottom: none;
}
.date-one-wr {
    position: absolute;
    top: 100%;
    margin-top: 6px;
    padding-top: 8px;
    z-index: 20;
    left: 50%;
    width: 276px;
    margin-left: -138px;
    transform: translate3d(0, -10px, 0);
}
.date-one-wr .btn {
    padding: 0 20px;
    margin: 0 5px;
}
.date-one-wr.act {
    transform: none;
}
.user-main-info {
    margin-bottom: 53px;
}
.other-ph-list {
    font-size: 0;
}
.other-ph-list .upl-inp {
    border: 1px solid #d9d9d9;
    background-color: #fff;
}

.other-ph-list .item {
    display: inline-block;
    width: 85px;
    height: 85px;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    cursor: pointer;
}
.other-ph-list .upl-inp input {
    position: absolute;
    overflow: hidden;
    font-size: 100px;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}
.other-ph-list .upl-inp .upl-btn {
    display: block;
    padding-top: 19px;
}
.other-ph-list .upl-inp .upl-btn:before {
    background-position: -299px -210px;
    width: 18px;
    height: 18px;
    margin: 0 auto 11px;
    position: relative;
}
.other-ph-list .upl-inp .upl-btn span {
    color: #b2b2b5;
    font-size: 12px;
    line-height: 12px;
}