<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<style type="text/css">
			.menu-col{
				width: 250px;
			}
			.menu-col .logo-wr {
			    padding: 25px 15px 21px;
			    border-bottom: 1px solid #e5e5e5;
			}
			.menu-col .logo-wr img {
				display: block;
			    margin: 0 auto;
			}
			.menu-col .user-info {
			    display: table;
			}
			.menu-col .user-info .img {
			    width: 100px;
			}
			.menu-col .user-info .img img {
			    margin: 0 auto;
			    border-radius: 50%;
			}
			.menu-col .user-info > div {
			    display: table-cell;
			    vertical-align: middle;
			    padding-top: 24px;
			    padding-bottom: 18px;
			}
			.menu-col .user-info .txt span {
			    display: block;
			    font-size: 14px;
			    line-height: 18px;
			    font-family: "efframedium";
			}
			.menu-col .user-info .exit {
			    text-align: right;
			    font-size: 0;
			    padding-right: 18px;
			}
			.menu-col .user-info .txt, .menu-col .user-info .exit {
			    border-bottom: 1px solid #e5e5e5;
			}
			.menu-col .user-menu {
			    margin-right: 14px;
			    position: relative;
			    padding-left: 43px;
			    padding-bottom: 6px;
			    padding-top: 24px;
			    width: 236px;
			}
			.menu-col .user-menu .item {
			    display: block;
			    position: relative;
			    padding-left: 56px;
			    font-size: 14px;
			    padding-bottom: 19px;
			}
			.menu-col > div {
			    background-color: #fff;
			    width: 248px;
			    border-right: 1px solid #e5e5e5;
			}
			.btn-wr {
			    padding-bottom: 28px;
			}
			.ta-c {
			    text-align: center;
			}
			.create-btn {
			    background: #b527ff;
			    background: -moz-linear-gradient(left, #b527ff 0%, #ffc000 25%, #36df15 50%, #0079f7 75%, #b527ff 100%);
			    background: -webkit-linear-gradient(left, #b527ff 0%, #ffc000 25%, #36df15 50%, #0079f7 75%, #b527ff 100%);
			    background: linear-gradient(to right, #b527ff 0%, #ffc000 25%, #36df15 50%, #0079f7 75%, #b527ff 100%);
			    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b527ff', endColorstr='#b527ff',GradientType=1 );
			    height: 50px;
			    font-size: 16px;
			    color: #1f1d1f;
			    text-decoration: none;
			    display: inline-block;
			    border-radius: 50px;
			    padding: 2px;
			}
			.create-btn > span {
			    display: block;
			    background-color: #fff;
			    border-radius: 50px;
			    height: 46px;
			    padding-left: 49px;
			    padding-right: 28px;
			    line-height: 46px;
			}
			.menu-col .bottom-wr {
			    position: relative;
			    z-index: 1;
			}
			.menu-col > div {
			    background-color: #fff;
			    width: 248px;
			    border-right: 1px solid #e5e5e5;
			}
			.menu-col .rec-block {
			    background-color: #f5f5f5;
			    border-top: 1px solid #e5e5e5;
			    text-align: center;
			    padding-top: 27px;
			}
			.menu-col .bottom-wr:after {
			    width: 247px;
			    background-color: #f5f5f5;
			    position: absolute;
			    top: 100%;
			    height: 9999px;
			    left: 0;
			    border-right: 1px solid #e5e5e5;
			}
		</style>
	</head>
	<body>
		<div class="menu-col">
			<div class="logo-wr"><img src="assets/img/logo.png" srcset="assets/img/logo@2x.png 2x" alt=""></div>
			<div class="user-info" data-ng-hide="!user">
				<div class="img"><img src="assets/img/tmp/userpic1.jpg" alt=""></div>
				<div class="txt"><span>{{displayName()}}</span></div>
				<div class="exit"><a href="#" data-ng-click="signOut()">Выйти</a></div>
			</div>
			<div class="user-menu">
				<a data-ng-hide="true" data-ng-class="['item', 'it1', {act:isActive('/messages')}]" data-ng-href="#!/messages">Сообщения<span class="ntf" data-ng-hide="true" data-ng-bind="msgCount()"></span></a>
				<a data-ng-class="['item', 'it2', {act:isActive('/map')}]" data-ng-href="#!/map">Карта</a>
				<a data-ng-class="['item', 'it3', {act:isActive('/events')}]" data-ng-href="#!/events">События</a>
				<a data-ng-hide="true" data-ng-class="['item', 'it4', {act:isActive('/settings')}]" data-ng-href="#!/settings">Настройки</a>
				<div data-ng-hide="true" class="act-area"><span><span></span></span></div>
			</div>
			<div data-ng-hide="true" class="ta-c btn-wr"><a class="create-btn"><span>Создать событие</span></a></div>
			<div class="bottom-wr">
				<div class="rec-block">
					<span class="ttl">Рекомендованные события</span>
					<div class="items-list-wr">
						<div class="items-list cf">
							<ng-repeat data-ng-repeat="event in events">
								<a data-ng-href="#!/eventInfo:{{event.id}}" target="_blank" data-ng-class="['item', 'ev-list-item', {type01:checkType(event,1), type02:checkType(event,2), type03:checkType(event,3), type04:checkType(event,4)}]">
								<span class="img" style="background-image: url('{{event.image ? event.image.url : 'assets/img/tmp/event-pic-min1.jpg'}}')"></span>
								</a>
							</ng-repeat>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom">
				<footer class="footer">
					<div class="downloads">
						<a href="{{appleStoreLink}}" class="item"><img src="assets/img/appstore.png" srcset="assets/img/appstore@2x.png 2x" alt="" width="94"></a>
						<a href="{{googlePlayLink}}" class="item" target="_blank"><img src="assets/img/googleplay.png" srcset="assets/img/googleplay@2x.png 2x" alt="" width="94"></a>
					</div>
				</footer>
			</div>
		</div>
	</body>
</html>